.weather_block {
  display: flex;
  width: 140px;
  align-items: center;
  gap: .5rem;

  &__image {
    max-width: 40%;
  }
  &__info {
    display: flex;
    flex-direction: column;

    &__name {
      margin: 0;
      font: normal 18px/20px Poppins, sans-serif;
      color: #8398ea;
    }

    &__value {
      margin: 0;
      font: normal 17px/19px Poppins, sans-serif;
      color: #8398ea;
    }
  }
}